{% extends 'base.html' %}

{% block body %}

<div class="shadow my-4 mx-5 p-3 border rounded">
    <p class="text-center m-0" id="signup_heading" style="font-size: 32px;
        font-weight:bolder;">Reset Password</p>

    <form class="px-3 py-1 needs-validation" method="POST" action="/set-password"
        autocomplete="on">

        <span class="text-primary mt-1">{{msg}}</span>

        <!-- New Password -->
        <div class="form-group pt-1">
            <label class="pt-2 form-label">Create New Password</label>
            <div class="d-flex rounded" style="border: 1px #ced4da;">
                <input type="password" required="" class="form-control pt-2"
                    name="new-password" id="login_password" placeholder="New Password">
                <img id="password_eye" width="40px" class="p-1 border rounded form-control-sm" style="border: #ced4da;"
                    src="{{url_for('static',filename='/assets/eye_password.png')}}"
                    alt="Show" onclick="password_show()">
            </div>
        </div>

        <button type="submit" class="mt-2 btn btn-primary shadow text-wrap">Reset Password</button>
    </form>

</div>

{% endblock body %}