{% extends 'base.html' %}

{% block body %}

<div class="shadow my-4 p-3 border rounded" style="margin: 15px;">
    <p class="text-center m-0 text-wrap" id="signup_heading" style="font-size:
        32px; font-weight:bolder;">Reset Password</p>

    <form id="form" class="px-3 py-1" method="POST" action="/reset" autocomplete="on">
        
        <!-- Invalid OTP Message -->
        <span class="text-danger">{{invalid_otp}}</span>

        <!-- Email -->
        <div class="form-group pt-2">
            <label class="pt-2">Email Address</label>
            <input type="email" required class="form-control pt-2" name="email"
                id="reset_email" placeholder="Email@example.com">
            
            <!-- Valid/Invaid Email Message -->
            <span class="text-success mt-1">{{valid_email}}</span>
            <span class="text-danger mt-1">{{invalid_email}}</span>
            
        </div>

        <button type="submit" id="reset_button" class="mt-2 btn btn-primary shadow">Get OTP</button>
    </form>
    
    <div class="dropdown-divider"></div>
    <a class="dropdown-item py-2 text-wrap" href="/signup">Doesn't registered
        yet? Sign up</a>
    <a class="dropdown-item py-2 text-wrap" href="/login">Already registered?
        Click here</a>
</div>

{% endblock body %}