{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="/static/css/style.css">
<div class="maincontainer">
<div class="container">
    <div class="border rounded shadow p-3">

        <p style="font-size: 32px;
            font-weight:bolder;color: #00887A;" class="mb-2 text-center">Welcome
            To PFM</p>

        <p class="text-center mb-2" style="font-size: 18px;font-style:
            italic;font-weight:650;color: #77A6F7;">Here you track your monthly,
            daily budget and make a habit of saving. Also you get some
            investment or insurance advises depends on your savings. Also you
            get some amazing features to manage to financial journey soomthly</p>
        <div class="text-center">
            <p>Already Our User, Login to your account</p>
            <a style="width: 45%;" href="/login" class="btn btn-primary shadow">Login</a>
        </div>

        <div class="text-center">
            <p>New to our platform, Signup Now</p>
            <a style="width: 45%;" href="/signup" class="btn btn-primary shadow">Register</a>
        </div>

    </div>
</div>
</div>
{% endblock body %}